extends default

block pagecss
  link(rel="stylesheet", href="/css/dashboard.css")

block content
  include includes/dashboard-nav

  div.container-fluid
    div.row(ui-view)

block scripts
  script(src="/vendor/angular/angular.js")
  script(src="/vendor/angular-ui-router/release/angular-ui-router.js")

  script(src="/app/index.js")
  script(src="/app/controllers/ClientCtrl.js")
  script(src="/app/controllers/ProjectCtrl.js")
  script(src="/app/controllers/CampaignCtrl.js")
  script(src="/app/controllers/DashboardCtrl.js")

  script(src="/app/services/CRUD.js")
