<div class="well">
  <h3><a href="#/project/{{campaign.project.id}}">{{campaign.project.name}}</a> &raquo; {{campaign.name}}</h3>

  <p>{{campaign.description}}</p>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Shortcode</th>
        <td>
          <button class="btn" ng-click="sendMessage(campaign.shortcode)">{{campaign.shortcode}}</button>
        </td>
      </tr>
      <tr>
        <th scope="row">Redirect URL</th>
        <td>{{campaign.url}}</td>
      </tr>
    </tbody>
  </table>

  <div class="btn-group">
    <button class="btn btn-warning" ng-click="del()">Delete Campaign</button>
    <a href="#/campaign/{{campaign.id}}/edit" class="btn btn-primary">Edit Campaign</a>
  </div>
</div>
