<div class="well">
  <h3><a href="#/client/{{project.client.id}}">{{project.client.name}}</a> &raquo; {{project.name}}</h3>

  <p>{{project.description}}</p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Shortcode</th>
        <th>Redirect URL</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="campaign in project.campaigns">
        <td><a href="#/campaign/{{campaign.id}}">{{campaign.name}}</a></td>
        <td><button class="btn" ng-click="sendMessage(campaign.shortcode)">{{campaign.shortcode}}</button></td>
        <td>{{campaign.url}}</td>
      </tr>
    </tbody>
  </table>

  <div class="btn-group">
    <button class="btn btn-warning" ng-click="del()">Delete Project</button>
    <a href="#/project/{{project.id}}/edit" class="btn btn-primary">Edit Project</a>
    <a href="#/campaign/new?pid={{project.id}}" class="btn btn-primary">New Campaign</a>
  </div>
</div>
